/* DEVELOPER: Kolleen Caffyn */

html {background-color: darkslategray;}

/* palette:

main 1: #74969a / darkslategray
main 2 (shade): #405f6f
main 3 (darkest): #364556

accent 1: #aee19d
accent 2 (hili): #eafacb
accent 3 (lightest): #fcffe8

the mystery color that may or may not get used: #dcff62

*/

/* for the header */
header h1 {color: greenyellow;}
#subtitle {
    color: lightgreen;
    border-bottom-color: #aee19d;
}

/* for the navbar */
.navbar-nav {border-color: #364556;}
.navbar .nav-item {
    background: linear-gradient(180deg, #405f6f, darkslategray);
    border-color: #364556;
    border-bottom-color: lawngreen;
}

#logo {width: 39px;}
.nav-link {color: #eafacb;}
.nav-link:hover, .nav-link:focus {color: #aee19d;}

#current {border-bottom-color: #eafacb !important;}
#current a {color: honeydew;}

.dropdown-item {color:#aee19d}
.dropdown-menu {
    background-color: darkslategray;
    border-color: greenyellow;
}
.dropdown-item:hover {
    color: #dcff62;
    background-color: #405f6f;
}

/*for the mobile navbar specifically*/
.icon-bar {background: linear-gradient(180deg, #405f6f, #364556);}
.icon-bar a, #dropup {
    color:#aee19d;
    border-left-color: #5171a5;
    border-top-color: lawngreen;}

.icon-bar a.active {
    color:honeydew;
    background: linear-gradient(180deg, #8dc47c, #73ad6d, seagreen); /*#04AA60, seagreen*/
    border-left-color: #04AA60;
    border-right-color: #04AA60;
    border-top-color: #eafacb !important;
}
.dropup-content {background-color: darkslategray !important;}

.show {border-color: greenyellow !important;}
.dropup-content a {
    color:honeydew;
    border-bottom-color: #aee19d;
}

.dropup-icon {color: #dcff62}

/* for the body/overall */
body {
    background-color: #405f6f;
    border-color: lawngreen;
}
body p {color: honeydew;}

a:after {color: honeydew;}

h1 {
    color: greenyellow;
    border-bottom-color: honeydew;
}
h2 {
    color: #dcff62;
    border-bottom-color: #aee19d;
}
h3 {color:#aee19d;}
h4 {color: #dcff62;}

em {color:#eafacb;}

/*for the carousel*/
#featured {border-color: #dcff62;}
div .carousel {border-bottom-color: #aee19d !important;}

/*for the cards*/
.card-row {
    border-top-color: #dcff62;
    border-bottom-color: #dcff62;
}
.card {
    border-color: lawngreen;
    background-color: #405f6f;
}
.card-body {background-color: #232c36}
.card-img-top {color: greenyellow;}
.card-title {color: #aee19d;}
.card-text {color:#fcffe8;}

/*for the resume*/
#resume ul {color:honeydew;}
#resume a {color: #dcff62;}

/*for the form*/
label {color:#aee19d}
input[type="text"], textarea {
    color: honeydew;
    background-color: #232c36;
    border-color: #aee19d;
}
input:focus, input:active, textarea:focus, textarea:active {border-color: greenyellow !important;}
textarea[placeholder] {color: #eafacb;}
input[type="submit"] {
    color: #eafacb;
    background-color: #364556;
    border-color: #dcff62;
}

/*for the section*/
section, form, #gallery, #wip {border-color: #dcff62;}

section, #wip {background-color: #232c36;}
#gallery, form {background-color: #364556;}
article {color: forestgreen;}

section img {
    border-color: limegreen;
    background-color: #dcff62;
}

/* for the footer */
footer {
    background-color: #8dc47c;
    color: darkslategray;
}