/* DEVELOPER: Kolleen Caffyn, Fall 2021 */

html {background-color: darkslategray;}

/* palette:

main 1: #74969a / darkslategray
main 2 (shade): #405f6f
main 3 (darkest): #364556

accent 1: #aee19d
accent 2 (hili): #eafacb
accent 3 (lightest): #fcffe8

the mystery color that may or may not get used: #dcff62

*/

/* for the header */
header h1 {color: greenyellow;}
#subtitle {
    color: lightgreen;
    border-bottom: 1px #aee19d solid;
}

/* for the navbar */
.navbar-nav {border:1px solid #364556;}
.navbar .nav-item {
    background: linear-gradient(180deg, #405f6f, darkslategray);
    border:2px solid #364556;
    border-bottom:2px solid lawngreen;
}

#logo {width: 39px;}
.nav-link {color: #eafacb;}
.nav-link:hover, .nav-link:focus {color: #aee19d;}

#current {border-bottom: 2px solid #eafacb !important;}
#current a {color: honeydew;}

.dropdown-item {color:#aee19d}
.dropdown-menu {
    background-color: darkslategray;
    border: 1px solid greenyellow;
}
.dropdown-item:hover {
    color: #dcff62;
    background-color: #405f6f;
}

/*for the mobile navbar specifically*/
.icon-bar {background: linear-gradient(180deg, #405f6f, #364556);}
.icon-bar a, #dropup {
    color:#aee19d;
    border-left: 1px #5171a5 solid;
    border-top:2px lawngreen solid;}

.icon-bar a.active {
    color:honeydew;
    background: linear-gradient(180deg, #8dc47c, #73ad6d, seagreen); /*#04AA60, seagreen*/
    border-left:1px #04AA60 solid;
    border-right:1px #04AA60 solid;
    border-top:2px #eafacb solid !important;
}
.dropup-content {background-color: darkslategray !important;}

.show {border: 1px greenyellow solid !important;}
.dropup-content a {
    color:honeydew;
    border-top:none;
    border-left:none;
    border-bottom:1px #aee19d solid;
}

.dropup-icon {color: #dcff62}

/* for the body/overall */
body {
    background-color: #405f6f;
    border: 3px dotted lawngreen;
}
body p {color: honeydew;}

a:after {color: honeydew;}

h1 {
    color: greenyellow;
    border-bottom: 1px honeydew solid;
}
h2 {
    color: #dcff62;
    border-bottom: 1px #aee19d solid;
}
h3 {color:#aee19d;}
h4 {color: #dcff62;}

em {color:#eafacb;}

/*for the carousel*/
#featured {border:5px #dcff62 double;}

/*for the cards*/
.card-row {
    border-top: 1px #dcff62 solid;
    border-bottom: 1px #dcff62 solid;
}
.card {
    border:1px lawngreen solid;
    background-color: #405f6f;
}
.card-body {background-color: #232c36}
.card-img-top {color: greenyellow;}
.card-title {color: #aee19d;}
.card-text {color:#fcffe8;}

/*for the resume*/
#resume ul {color:honeydew;}
#resume a {color: #dcff62;}

/*for the form*/
label {color:#aee19d}
input[type="text"], textarea {
    color: honeydew;
    background-color: #232c36;
    border: 1px solid #aee19d;
}
input:focus, input:active, textarea:focus, textarea:active { border:2px greenyellow solid;}
textarea[placeholder] {color: #eafacb;}
input[type="submit"] {
    color: #eafacb;
    background-color: #364556;
    border:1px solid #dcff62;
}

/*for the section*/
section, form, #gallery, #wip {border: 1px solid #dcff62;}

section, #wip {background-color: #232c36;}
#gallery, form {background-color: #364556;}
article {color: forestgreen;}

section img {
    border:7px limegreen double;
    background-color: #dcff62;
}

/* for the footer */
footer {
    background-color: #8dc47c;
    color: darkslategray;
}