/* DEVELOPER: Kolleen Caffyn */

html {background-color: floralwhite;}

/* palette:
main
base: # / mistyrose
main 2 (shade): #ffbfd1
main 3 (darkest): #fd93c0

accent
base: #a1fcdf
dark: #5171a5 OR #214f4b
shade: #7fd8be OR #22b0d0
hili: #d7fef2 OR #b3e9c7 (misty)
lightest: #ebfef9
*extra: #6beaea (bright blue)

other
- #ffb4a2 - peachy keen
- #f5e960 - the color 'o corn
*/

/* for the header */
header h1 {color: lightcoral;}
#subtitle {
    color: indianred;
    border-bottom-color: salmon;
}

/* for the navbar */
.navbar-nav {border-color: lightcoral;}
.navbar .nav-item {
    background: linear-gradient(180deg, white, mistyrose);
    border-color: #ffbfd1;
    border-bottom-color: deeppink;
}

#logo {width: 40px;}
.nav-link {color: salmon;}
.nav-link:hover, .nav-link:focus {color: #22b0d0;}

#current {border-bottom-color: #7fd8be !important;}
#current a {color: #da4167;}

.dropdown-item {color:#22b0d0 !important;}
.dropdown-menu {
    background-color: #ebfef9;
    border-color: #5171a5;
}
.dropdown-item:hover {
    color: #5171a5;
    background-color: #a1fcdf;
}

/*for the mobile navbar specifically*/
.icon-bar {background: linear-gradient(180deg, floralwhite, mistyrose);}
.icon-bar a, #dropup {
    color:#da4167;
    border-left-color: lightpink;
    border-top-color: deeppink;
}

.icon-bar a.active {
    color: #72cbce;
    background:linear-gradient(180deg,#ebfef9, #d7fef2);
    border-left-color: #7fd8be;
    border-right-color: #7fd8be;
    border-top-color: cornflowerblue !important;
}

.dropup-content {background-color: #d7fef2 !important;}

.show {border-color: #7fd8be !important;}

.dropup-content a {
    color:#5171a5;
    border-bottom-color: cornflowerblue;
}

.dropup-icon {color: #7fd8be}

/* for the body/overall */
body {
    background-color: mistyrose;
    border-color: lightcoral;
}
body p {color: indianred;}

h1 {
    color: palevioletred;
    border-bottom-color: #fd93c0;
}
h2 {
    color: salmon;
    /*border-bottom-color: ;*/
}
h3 {color:crimson;}
h4 {color:hotpink;}

em {color:palevioletred;}

/*for the carousel*/
#featured {border-color:crimson;}
div .carousel {border-bottom-color: salmon !important;}

/*for the cards*/
.card-row {
    border-top-color: deeppink;
    border-bottom-color: deeppink;
}
.card {
    border-color: #6beaea;
    background-color: #7fd8be;
}
.card-body {background-color: #ebfef9}
.card-img-top {color: #d7fef2;}
.card-title {color: #5171a5;}
.card-text {color:#439775;}

/*for the resume*/
#resume ul {color:crimson;}
#resume a {color: #22b0d0;}

/*for the form*/
label {color: lightcoral;}
input[type="text"], textarea {
    color: palevioletred;
    background-color:white;
    border-color:crimson;
}
input:focus, input:active, textarea:focus, textarea:active {border-color:#6beaea !important;}
input[type="submit"] {
    color: crimson;
    background-color: white;
    border-color: crimson;
}

/*for the section*/
section,form,#gallery, #wip {
    background-color: floralwhite;
    border-color: #fd93c0;
}

section img {
    border-color: salmon;
    background-color:floralwhite;}

/* for the footer */
footer {
    background-color: crimson;
    color:white;
}