/* DEVELOPER: Kolleen Caffyn, IS 117-001, Fall 2021 */

html {background-color: floralwhite;}

/* palette:
main
base: # / mistyrose
main 2 (shade): #ffbfd1
main 3 (darkest): #fd93c0

accent
base: #a1fcdf
dark: #5171a5 OR #214f4b
shade: #7fd8be OR #22b0d0
hili: #d7fef2 OR #b3e9c7 (misty)
lightest: #ebfef9
*extra: #6beaea (bright blue)

other
- #ffb4a2 - peachy keen
- #f5e960 - the color 'o corn
*/

/* for the header */
header h1 {color: lightcoral;}
#subtitle {
    color: indianred;
    border-bottom: 1px salmon solid;}

/* for the navbar */
.navbar-nav {border:1px solid lightcoral;}
.navbar .nav-item {
    background: linear-gradient(180deg, white, mistyrose);
    border:1px solid #ffbfd1;
    border-bottom:2px deeppink solid;
}

#logo {width: 40px;}
.nav-link {color: salmon;}
.nav-link:hover, .nav-link:focus {color: #22b0d0;}

#current {border-bottom: 2px #7fd8be solid !important;}
#current a {color: #da4167;}

.dropdown-item {color:#22b0d0 !important;}
.dropdown-menu {
    background-color: #ebfef9;
    border: 1px #5171a5 solid;
}
.dropdown-item:hover {
    color: #5171a5;
    background-color: #6beaea;
}

/*for the mobile navbar specifically*/
.icon-bar {background: linear-gradient(180deg, floralwhite, mistyrose);}
.icon-bar a, #dropup {
    color:indianred;
    border-left: 1px solid lightpink;
    border-top:2px indianred solid;}

.icon-bar a.active {
    color: cornflowerblue;
    background:linear-gradient(180deg,#ebfef9, #d7fef2);
    border-left:1px solid #7fd8be !important;
    border-right:1px solid #7fd8be !important;
    border-top:2px cornflowerblue solid !important;
}
.dropup-content {background-color: #d7fef2 !important;}

.show {border: 1px #7fd8be solid !important;}

.dropup-content a {
    color:#5171a5;
    border-top:none;
    border-left:none;
    border-bottom:1px cornflowerblue solid;
}

.dropup-icon {color: #7fd8be}

/* for the body/overall */
body {
    background-color: mistyrose;
    border: 3px dotted lightcoral;
}
body p {color: indianred;}

h1 {
    color: palevioletred;
    border-bottom: 1px #fd93c0 solid;
}
h2 {
    color: salmon;
    border-bottom:1px solid;
}
h3 {color:crimson;}
h4 {color:hotpink;}

em {color:palevioletred;}

/*for the carousel*/
#featured {border:5px crimson double;}
div .carousel {border-bottom:1px salmon solid !important;}

/*for the cards*/
.card-row {
    border-top: 1px deeppink solid;
    border-bottom: 1px deeppink solid;
}
.card {
    border:1px #6beaea solid;
    background-color: #7fd8be;
}
.card-body {background-color: #ebfef9}
.card-img-top {color: #d7fef2;}
.card-title {color: #5171a5;}
.card-text {color:#439775;}

/*for the resume*/
#resume ul {color:crimson;}
#resume a {color: #22b0d0;}

/*for the form*/
label {color: lightcoral;}
input[type="text"], textarea {
    color: palevioletred;
    background-color:white;
    border:1px crimson solid;
}
input[type="text"]:focus, input[type="text"]:active, textarea:focus, textarea:active { border:1px #6beaea solid;}
input[type="submit"] {
    color: crimson;
    background-color:white;
    border:1px crimson solid;
}

/*for the section*/
section,form,#gallery, #wip {
    background-color: floralwhite;
    border:1px solid #fd93c0;
}

section img {
    border:7px salmon double;
    background-color:floralwhite;}

/* for the footer */
footer {
    background-color: crimson;
    color:white;
}