* {
    font-family: "Lato", "Arial", sans-serif;
    margin:0;
    padding:0;
}

link[href="../styles/dark.css"] {display:none !important;}

/*media queries*/
@media only screen and (max-width:959px) { /*tablet view*/

    header h1 {font-size:300%;}

    h1,h2 {font-family: "Lato", sans-serif;}

    #mobile {
        display:block;
        overflow: hidden;
        position:fixed;
        bottom:0;
        width:100%;
    }
    #desktop {display:none;}

    header #subtitle {
        font-size:99%;
        margin:0 auto 0.5em auto;
        padding-bottom:0.5em;
        font-weight: bold;
    }

    .switch {margin-bottom: 1em;}

    main h2,h3 {text-align:center;}

    article {width:49% !important;}
    section img {width:50% !important;}

    .horiz .card-img-top {width:360%;}
}

@media only screen and (max-width:767px) { /*landscape view*/

    header h1 {font-size:300% !important;}

    h1,h2 {font-family: "Lato", sans-serif;}

    #mobile {
        display:block;
        overflow: hidden;
        position:fixed;
        bottom:0;
        width:100%;
    }
    #desktop {display:none;}

    header #subtitle {
        font-size:99%;
        margin:0 auto 0.5em auto;
        padding-bottom:0.5em;
        font-weight: bold;
    }

    .switch {margin-bottom: 1em;}

    main h2,h3 {text-align:center;}

    article {width:49% !important;}
    section img {width:50% !important;}

    .horiz .card-img-top {width: initial;}
    .card-row {columns:2;}
}

@media only screen and (max-width:480px) { /*portrait view*/

    header h1 {
        font-size: 280% !important;
        margin: 0.25em auto;
    }

    main h2,h3 {
        font-size:200%;
        margin:0.25em auto;
        text-align:center;
    }

    header #subtitle {
        font-size:75%;
        margin:0.5em auto;
        padding: 0.25em;
    }

    #logo {display: none;}

    #mobile {
        overflow: hidden;
        position:fixed;
        bottom:0;
        width:100%;
    }

    .container-fluid {padding:0 !important;}
    .switch {margin-top:1em;}

    main {padding: 0 !important;}

    article {
        width:initial !important;
        max-width:initial !important;
        padding-top:1em;
    }

    section img {
        float:none !important;
        clear:both !important;
        width:100% !important;
        max-width:inherit !important;
    }

    #resume {height:27.5em !important;}

    .horiz {flex-direction:column !important;}
    .card-row {columns:1 !important;}

    .card {margin:1em 0 !important;}
    .card-body {padding:0.25em !important;}
}

@media only screen and (max-width: 399px) {

    header h1 {
        font-size: 240% !important;
        margin: 0.25em auto;
    }

    header #subtitle {
        font-size:75%;
        margin:0.5em auto;
        padding: 0.25em;
        width:75%;
    }
}

/*for the header*/
header {
    margin:auto;
    text-align: center;
    width:90%;
}
header h1 {
    font-size: 5rem;
    margin-bottom:0.25em;
    font-family: "Magnolia Script", "Lato", sans-serif;
}
#subtitle {
    font-family:Arial,sans-serif;
    font-size: 1.5em;
    font-style: italic;
    font-weight: 50;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

/*for the navbar*/
#desktop {display:block;}
#mobile {display:none;}

#logo {
    float:left;
    padding-left:0.5em;
}

nav {
    position:relative;
    text-align:center;
    margin: 0 auto;
    padding-bottom: 1em !important;
    width:91.25%;
}

nav .navbar .nav {
    float:left;
    display:flex;
    flex-direction:row;
    width:25%;
    padding:0;
    margin:auto;
}

.navbar-nav {
    margin:0;
    clear:left;
    float:none;
    position:relative;
    text-align:center;
    display:flex;
    flex-direction:row;
    width:100%;
}
.navbar-nav, .nav-item[id="current"]{border-bottom:none !important;}

.nav-link {
    padding-top:1em;
    font-weight:bold;
}

nav.navbar ul {
    list-style:none;
    margin:0;
    padding:0;
    position: relative;
}
nav.navbar li {
    float:left;
    margin:0;
    width:inherit;
}
nav.navbar ul li a{
    display:block;
    text-align:center;
    padding: 0.25em 0 0.25em 0;
    text-decoration:none;

}

.dropdown-menu {
    display: none;
    position: relative;
    text-align:center;
    padding:0;
    margin:auto;
    float: none;
    clear:both;
    max-width:inherit;
}

.navbar li:hover .dropdown-menu {
    display: flex;
    margin: auto;
    position: absolute;
    flex-direction:column;
}

.dropdown-menu.show {
    display: none;
}

.dropdown-item {
    margin: auto;
    position:center;
    text-align:center;
}

/*for the body/overall layout*/
body {
    margin: 1em auto;
    width:87.5%;
}
main {
    padding-top: 1em;
    width:90%;
    margin:auto;
}
a:visited, a:active, a:focus {color:transparent;}

h2 {
    font-family: "Magnolia Script","Lato",sans-serif;
    margin-bottom: 0.25em;
    padding: 0.025em;
    font-size:2.5em;
}

h3 {
    font-style:italic;
    font-weight:lighter;
    font-size: 1.25em;
    padding-bottom:1em;
}

/*for the cards*/

#gallery {
    margin-bottom:2.5em;
    padding:2.5em;
}

.card {text-align:center;}

.card-img-top[alt] {text-align:center;}
.card-title {text-align: center;}
.wide .card-text {text-align: center;}

.card-row {
    width:inherit;
    margin:1.5em 0;
    padding:1.5em 0;
    columns:3;}

.double {
    columns:2;
}

.card-row .card {
    margin:auto;
    display:inline-block;
}

.horiz {
    position:relative;
    display:flex;
    flex-direction:row;
}

.horiz .card-title {text-align:revert;}

/*for the carousel*/
#featured {
    margin-left:5%;
    width:90%;
}

.carousel-item::after, .carousel-item::before { /*animation kinda jumps the carousel up a pixel which is very noticeable since it has a border around it*/

}

/*for the section below the carousel*/
section {
    margin:1em 5%;
    display:inline-block;
    padding:1em;
}
section img {
    float:right;
    width:33.33%;
    max-width:75%;
}

article {
    float:left;
    display:inline-block;
    margin:auto;
    max-width:66%
}


/*for the resume*/
#resume {
    margin:auto;
    display:block;
    width:90%;
    height:75em;
}
#resume h2 {
    padding:0;
    margin:0;
}

/*for the contact form*/
form {
    display:block;
    width: 90%;
    margin:auto;
    padding:2.5em;
    text-align: center;
}

input, textarea {
    margin-right: 1em;
    margin-bottom:0.5em;
    border-radius:5px;
    padding:0.05em 0.25em;
}

#subject {width:60%;}

#message {
    width:75%;
    height:25em;
    padding:0.25em;
}

/*for the footer*/
footer {
    margin: 0.5em auto 0 auto;
    padding: 1em;
    text-align:center;
    font-size:1em;
    display:inline-block;
    position:center;
    width:100%;
}

/* for the theme toggle */
#switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
    padding-bottom: 1em;
}
#status {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    background-color: lightpink;
    transition: .4s;
    border-radius: 34px;
    width:54px;
    height:28px;
    left:0;
}
.slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 1px;
    bottom:1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

#switch::before {background-color: lightpink;}
#switch::after {background-color: lightgreen;}

input:checked + .slider {background-color: lightgreen;}
/*input:focus + .slider {box-shadow: 0 0 1px lightgreen;}*/
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
