/* DEVELOPER: Kolleen Caffyn */

* {
    font-family: "Lato", "Arial", sans-serif;
    margin:0;
    padding:0;
}
link[href="../styles/light.css"] {display:block !important;}
/*link[href="../styles/dark.css"] {display:none !important;}*/

/*media queries*/
@media only screen and (max-width:959px) { /*tablet view*/

    h1, h2 {font-family: "Lato", sans-serif;}

    header h1 {font-size:300%;}

    .navbar {
        overflow:hidden;
        position:fixed;
        bottom:0;
        left:0;
        width:99%;
        margin:0 auto;
        padding:0;
    }
    .container-fluid {padding:0;}

    header #subtitle {
        font-size:99%;
        margin:0 auto 0.5em auto;
        padding-bottom:0.5em;
        font-weight: bold;
    }

    .switch {margin-bottom: 1em;}

    main h2,h3 {text-align:center !important;}

    #resume h2,h3 {text-align:revert !important;}

    article {width:49% !important;}
    section img {width:50% !important;}

    .horiz .card-img-top {width:160%;}
}

@media only screen and (max-width:767px) { /*landscape view*/

    header #subtitle {
        font-size:99%;
        margin:0 auto 0.5em auto;
        padding-bottom:0.5em;
        font-weight: bold;
    }

    .dropup-content {
        position: inherit;
        bottom: 50px;
        left:20%;
        width:25%;
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        z-index: 1;
    }

    article {width:49% !important;}
    section img {width:50% !important;}

    #resume {
        font-size:90%;
        margin:0;
    }
    #resume ul {
        margin:0;
        padding:0;
    }
    .job h4 {margin-top:0;}
    #resume .dates {font-size:105%;}

    .horiz .card-img-top {width: 500%;}
    .card-row {columns:2;}
}

@media only screen and (max-width:480px) { /*portrait view*/

    header h1 {
        font-size: 280% !important;
        margin: 0.25em auto;
    }

    main h2,h3 {
        font-size:200%;
        margin:0.25em auto;
    }

    header #subtitle {
        font-size:75%;
        margin:0.5em auto;
        padding: 0.25em;
    }

    body {margin-bottom:17.5% !important;}

    #logo {display: none;}

    .navbar  {display:none !important;}
    .icon-bar {
        display:block !important;
        position:relative;
    }

    .dropup-icon.fa {display:contents !important;}

    #mobile {
        overflow:hidden;
        position:fixed;
        bottom:0;
        left:0;
    }
    #mobile a {
        padding-top:0;
        padding-bottom: 0;
    }
    #mobile i {
        font-size: 87.5%;
        padding-top:0;
        padding-bottom:2.5%;
    }
    #mobile i.fa-home {
        font-size:105%;
        padding-top:2.5% !important;
        padding-bottom:0 !important;
    }

    .container-fluid {padding:0 !important;}
    .switch {height:33% !important;}

    main {padding: 0 !important;}
    article {
        width:initial !important;
        max-width:initial !important;
        padding-top:1em;
    }
    section img {
        float:none !important;
        clear:both !important;
        width:100% !important;
        max-width:inherit !important;
    }

    #resume h1 {font-size:250%;}
    #resume h2 {font-size:200%;}
    #resume h3 {font-size:130%;}

    #resume ul {
        margin:0;
        padding:0;}
    #resume ul li {
        padding-left:0;
        margin-left:1em !important;
    }
    #resume .dates {
        font-size:80% !important;
        clear:both;
        float:none;
    }

    .horiz {flex-direction:column !important;}
    .horiz .card-img-top {width:100%;}
    .card-row {column-count:1 !important;}
    .card {
        margin:1em 0 !important;
        position:initial !important;
    }
    .card-body {padding:0.25em !important;}
    textarea { width:100% !important; }
    input[type="text"] {width:100% !important;}
    form {padding:5%!important;}
}

@media only screen and (max-width: 399px) {

    header h1 {
        font-size: 240% !important;
        margin: 0.25em auto;
    }

    header #subtitle {
        font-size:75%;
        margin:0.5em auto;
        padding: 0.25em;
        width:75%;
    }
}

/*for the header*/
header {
    margin:auto;
    text-align: center;
    width:90%;
}
header h1 {
    font-size: 5rem;
    margin-bottom:0.25em;
    border:none;
}
#subtitle {
    font-family:Arial,sans-serif;
    font-size: 1.5em;
    font-style: italic;
    font-weight: 50;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid;
}

/*for the navbar*/
nav {z-index:1000;}
#desktop {display:block;}
#mobile {display:none;}

#logo {
    float:left;
    padding-left:0.5em;
}

nav #desktop {
    position:relative;
    text-align:center;
    margin: 0 auto;
    padding-bottom: 1em !important;
    width:91.25%;
}
nav .navbar .nav {
    float:left;
    display:flex;
    flex-direction:row;
    width:25%;
    padding:0;
    margin:auto;
}

.navbar .nav-item {
    background: linear-gradient(180deg, white, lightgray);
    border:1px solid;
    border-bottom:2px solid;
}

.navbar-nav {
    margin:0;
    clear:left;
    float:none;
    position:relative;
    text-align:center;
    display:flex;
    flex-direction:row;
    width:100%;
    border:1px solid;
}
.navbar-nav, .nav-item[id="current"]{border-bottom:none !important;}

.nav-link {
    padding-top:1em;
    font-weight:bold;
}

nav.navbar ul {
    list-style:none;
    margin:0;
    padding:0;
    position: relative;
}
nav.navbar li {
    float:left;
    margin:0;
    width:inherit;
}
nav.navbar ul li a{
    display:block;
    text-align:center;
    padding: 0.25em 0 0.25em 0;
    text-decoration:none;
}

.dropdown-menu {border:1px solid;}

.navbar-nav .dropdown-menu {
    display: none;
    text-align:center;
    padding:0;
    margin:auto;
    float: none;
    clear:both;
    max-width:inherit;
}

.navbar li:hover .dropdown-menu {
    display: flex !important;
    margin: auto;
    position: absolute;
    flex-direction:column !important;
}

.dropdown-toggle:focus li, .dropdown-toggle:active li {
    display: none !important;
    border:none !important;
    color:inherit;
}

.dropdown-item {
    margin: auto;
    position:center;
    text-align:center;
}

.dropdown-menu li {
    clear:both;
    text-align:center;
}

#current {
    border-bottom:2px solid !important;
}

/*for the mobile navbar, specifically*/

.icon-bar {
    width: 100%;
    overflow:auto;
    float:none;
    clear:both;
    padding:0 !important;
}

.icon-bar a, #dropup {
    float: left;
    text-align: center;
    width: 25%;
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    font-size:200%;
    border-left: 1px solid;
    border-top:2px solid;
}

.icon-bar a[href="index.html"] {border-left:none !important;}
.icon-bar a[href="contact.html"] {border-right:none !important;}

.icon-bar a.active{
    border-left:1px solid;
    border-right:1px solid;
    border-top:2px solid;
}

.icon-bar i {font-size:36px;}
.icon-bar i.fa-home {font-size:36px;}

#dropup {
    position:relative;
    background:none;
    border:none;
    padding:0;
    cursor:pointer;
}
.show {
    display:block !important;
    border:1px solid;
}

.dropup-content {
    border:none !important;
    display:none;
}
.dropup-content a {
    text-align:revert;
    float:left;
    padding-left: 0.5em;
    padding-right: 90%;
    margin: 2.5%;
    text-decoration: none;
    font-size:120%;
    font-weight:400;
    display:block;
    border-top:none;
    border-left:none;
    border-bottom: 1px solid;
}
.dropup-icon {
    clear:both;
    padding:0;
}

/*for the body/overall layout*/
body {
    margin: 1em auto;
    width:87.5%;
    border:3px dotted;
}
main {
    padding-top: 1em;
    width:90%;
    margin:auto;
}
a:visited, a:active, a:focus {color:transparent;}

h1 {
    font-size:3.75em;
    font-family: "Magnolia Script", "Lato", sans-serif;
    border-bottom:1px solid;
}

h2 {
    font-family: "Magnolia Script","Lato",sans-serif;
    margin-bottom: 0.25em;
    padding: 0.025em;
    font-size:2.5em;
    border-bottom:1px solid;
}

h3 {
    font-weight:lighter;
    font-size: 1.5em;
}
h4 {
    font-size:1.15em;
    font-style:italic;
    margin:0.75em auto;
}

p {margin-bottom:0.5em;}

#wip {
    text-align:center;
    padding:2.5em;
    border:1px solid;
}
#wip h2{margin-bottom:1.25em;}
#wip h3 {
    margin-bottom:0;
    line-height:2.5em;
}

/*for the cards*/

#gallery {
    margin-bottom:2.5em;
    padding:2.5em;
}

.card {
    text-align:center;
    border:1px solid;
}
.card-img-top[alt] {text-align:center;}
.card-title {text-align: center;}
.wide .card-text {text-align: center;}

.card-row {
    width:inherit;
    margin:1.5em 0;
    padding:1.5em 0;
    column-count:3;
    border-top:1px solid;
    border-bottom:1px solid;}
.double {column-count:2;}

.card-row .card {
    margin:auto;
    display:inline-block;
}

.horiz {
    position:relative;
    display:flex;
    flex-direction:row;
}
.horiz .card-title {text-align:revert;}

/*for the carousel*/
#featured {
    margin-left:5%;
    width:90%;
    border:5px double;
}
div .carousel {border-bottom: 1px solid;}
.carousel-item::after, .carousel-item::before {
    /*animation kinda jumps the carousel up a pixel
    which is very noticeable since it has a border around it*/

}

/*for the section below the carousel*/
section {
    margin:1em 5%;
    display:inline-block;
    padding:1em;
    border:1px solid;
}
section img {
    float:right;
    width:33.33%;
    max-width:75%;
    border:7px double;
}

article {
    float:left;
    display:inline-block;
    margin:auto;
    max-width:66%
}

/*for the resume*/
#resume em {
    padding: 1.25em 0 0;
    margin:0 auto;
}
.dates {
    float:right;
    font-size:1.25em;
}
#resume ul {margin:0.25em auto 1em;}
#resume ul li {margin-left:2.5em;}

/*for the contact form*/
form {
    display:block;
    width: 90%;
    margin:auto;
    padding:2.5em;
    text-align: center;
    border:1px solid;
}

input, textarea {
    margin-right: 1em;
    margin-bottom:0.5em;
    border-radius:5px;
    padding:0.05em 0.25em;
    border:1px solid;
}

input[type='submit']{
    padding:0.25em 0.5em;
    border:1px solid;
}
input:focus, input:active, textarea:focus, textarea:active { border:1px solid;}
#subject {width:60%;}

#message {
    width:75%;
    height:25em;
    padding:0.25em;
}

/*for the footer*/
footer {
    margin: 0.5em auto 0 auto;
    padding: 1em;
    text-align:center;
    font-size:1em;
    display:inline-block;
    width:100%;
}

/* for the theme toggle */
#switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
    padding-bottom: 1em;
    margin:0.5em auto;
}
#status {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    background-color: lightpink;
    transition: .4s;
    border-radius: 34px;
    width:54px;
    height:28px;
    left:0;
}
.slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 1px;
    bottom:1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

#switch::before {background-color: lightpink;}
#switch::after {background-color: lightgreen;}

input:checked + .slider {background-color: lightgreen;}
/*input:focus + .slider {box-shadow: 0 0 1px lightgreen;}*/
input:checked + .slider:before {
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
